body {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    font-style: italic;
    color: #131e75;
    background: #57d2ef85
}

label {
    font-size:20px;
}

textarea {
    width: 500px;
    height: 200px;
    padding: 10px;
    border: 4px solid #3F51B5;
    color: #131e75;
    background: #57d2ef85;
    font-style: italic;
    font-size:18px;
}

.output {
    width: 500px;
    height: 200px;
    border: 4px solid #3F51B5;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    padding: 10px;
    text-align: left;
    background: #57d2ef85;
    font-size:18px;
    font-weight: 600;
}

#btn {
    padding: 10px 20px;
    margin: 10px;
    color: #131e75;
    background: #57d2ef85;
    font-style: italic;
    font-size:18px;
    border: 2px solid #3F51B5;
    border-radius: 10px;
}