.interface {
    margin: 80px auto;
    width: 950px;
    height: 380px;
    background: #67aae175;
    text-align: center;
    padding: 70px;
    font-style: italic;
    color: #130bf7;
}

h1 {
    font-size: 45px;
}

.chooseFile, #safe{
    border:2px solid #130bf7;
    margin: 20px 0px;
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
    color: #130bf7;
    padding: 15px 30px;
    background-color: #a2efe7;
}

#safe {
    padding: 15px 357px;
}

.osnova {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #bcbcbccf;
    opacity: 100%;
    top: 0;
    left: 0;
    padding-top: 2%;
}

.alert {
    padding: 50px 15px;
    border: 2px solid #0a4c7e;
    border-radius: 10px;
    color: #294d4e;
    font-size: 24px;
    text-align: center;
    background-color: #84d1d2;
    width: 400px;
    margin: 0 auto;
}