.cont {
    /* background-color: #f0f0f0; Цвет фона */
    padding: 20px; /* Внутренний отступ */
    border: 1px solid #ccc; /* Граничная линия */
    border-radius: 5px; /* Закругление углов */
    margin: 10px; /* Внешний отступ */
}
  
.cont h1 {
    font-size: 24px; /* Размер шрифта для заголовка */
    margin-bottom: 10px; /* Внешний отступ снизу */
}
  
.cont i {
    font-style: italic; /* Курсив для даты/времени */
}
  
.cont p {
    font-size: 16px; /* Размер шрифта для текста */
    line-height: 1.5; /* Межстрочное расстояние */
}