<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дни недели</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="root">
        <input type="date" name="" v-model="day" v-week-day>
        <p>Хорошей работы!</p>
        <p>Хороших выходных!</p>

        <input type="text" v-model="color" v-random-color>

        <div v-new-tag:a="className"></div>

        <ol>
            <li v-for="(li, index) in list" >{{ li }}</li>
        </ol>
        <button v-list-reverse="list">reverse</button>
        <button v-list-random="list">random</button>
    </div>
    
    <script src="script.js"></script>
</body>
</html>